body {
    display: flex;
    flex-direction: column;
    align-items: center;
	padding : 1rem;
}

.choices {
	display: flex;
	flex-direction: column;
}
.annunce {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border-color: var(--dark);
	color: var(--light);
	padding-bottom: 2rem;
	animation: fadeIn 2s;

	img {
		margin : 0 auto;
		object-fit: cover;
		animation: fadeIn 1s ease-in;
		max-width: 100%;
	}

	h2 {
		max-width: 100%;
		text-align: center;
		font-size: 1.5rem;
		position: relative;
		top: -1rem;
		text-shadow: 0.1rem 0.1rem 1rem var(--light);
		animation: fadeIn 5s ease-in;
	}
}

.themesChoices {
	display: flex;
	justify-content: center;
	animation: fadeIn 1s ease-in;
	/* border-radius: 1rem; */
	background-color: var(--primary);
	margin-top: 1rem;
	margin-bottom: 3rem;
	box-shadow: 0 0 2rem 2.5rem var(--primary);

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		li {
			display: flex;
			color: var(--light);
			justify-content: center;
			flex-direction: column;
			text-align: center;

			img {
				width: 8rem;
				animation-name: flo;
				animation-duration: 5s;
				animation-iteration-count: infinite;

				&:hover {
					width: 9rem;
					animation: giggle 0.5s ease-in-out infinite alternate;
				}
			}
		}
	}
}

footer {
	background-color: var(--light);
	box-shadow: 0 0  1rem 2rem var(--light);
	h3 {
		font-size: 4rem;
		text-align: center;
		font-weight: 800;
		color: var(--primary);
		text-shadow: 0.1rem 0rem 0.1rem var(--primarylight);
		margin-top: 3rem;
		animation: flash infinite 2s;
	}
	p {
		color: var(--dark);
		text-align: center;
		opacity: 0.8;
		margin-bottom: 1rem;
	}
}

@media only screen and (min-width: 768px) {
	main, footer{
		width:100vw;
	}
	.annunce {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		max-width: 80%;
		padding: 2rem 0 3rem 0;
		color: var(--light);
		margin-bottom: 1rem;

		h2 {
			font-size: 3rem;
		}
	}
	.themesChoices {
		width:100vw;
		
	}
	.themesChoices ul li img {
		width:12rem;
	}
	.themesChoices ul li p {
		font-size: 1.5rem;
	}
}