/* configuration des éléments gérés par js */

.quiz {
	display: none;
	flex-direction: column;
	align-items: center;
	padding-bottom:3rem;

	.ninja {
		width: 5rem;
	}
	.questions {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 1rem;
		font-size: 1.2rem;
		h3 {
			font-size: 1rem;
		}

		.theme {
			display: flex;
			align-items: center;
			img {
				width: 6rem;
			}
			h3 {
				font-size: 2rem;
				color: var(--light);
			}
		}
		.card {
			display: flex;
			min-width: 90vw;
			flex-direction: column;
			text-align: center;
			border-radius: 1rem;
			padding: 0.5rem;
			background-color: var(--light);
			opacity: 0.9;
			box-shadow: 0.2rem 0.2rem 0.1rem 0.2rem var(--light);
			h3{
				font-size: 1.5rem;
			}
			ul {
				display: flex;
				justify-content: space-around;
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 0.5rem;
			}
		}
		button {
			display: flex;
			justify-content: center;
			width: 100%;
			align-items: center;
			background-color: var(--secundarylight);
			box-shadow: 3px 6px 6px var(--secundary);
			border-radius: 1.5rem;
			padding: 0.2rem;
			margin : 1rem 0.5rem 1rem 0.5rem;
			font-size: 1.5rem;
			color: var(--dark);

			&:hover {
				width: 37vw;
				background-color: var(--secundary);
				font-weight: 600;
				cursor: pointer;
			}
		}
	}
}
#checker {
	animation: fadeOut 1s 1s;
	animation-fill-mode: forwards;
	color: var(--primary);
}
.indicators {
	display: flex;
	justify-content: space-between;
	align-items: end;
	.score,
	.timer {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		width: 3rem; 
		height: 3rem;
		border-style: solid;
		text-align: center;
		margin: 0.5rem 0.5rem;
		font-size: 0.5rem;
	}
	.score {
		border-color: var(--primarylight);
		background-color: var(--secundary);
		color: var(--primary);
	}
	.timer {
		border-color: var(--secundary);
		background-color: var(--primary);
		color: var(--secundary);
		font-size: 1rem;
	}
}
@media only screen and (min-width: 768px) {
	.quiz .questions .card ul {
		display: grid ;
		grid-template-columns: 50% 50%;
		grid-template-rows: 50% 50%;
		gap: 1rem;
	}
	
	.quiz .questions .card button {
			width:90%;
			margin: 1rem auto;
	}
	}
